.complex {
  margin: -10px;
  padding: 2.5px;
  border-width: 0.5px;
  /* pxtorem-disable-next-line */
  line-height: 16px;
  font-size:
   /* pxtorem-disable-next-line */ 15px;
  left: -2px;
}

.ignore-me {
  font-size: 14px;
}
